{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_category_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_category_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}



        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'category.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_created_at'|trans, 'category.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_updated_at'|trans, 'category.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'category.title') }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.createdAt|format_date('long') }}</td>
                    <td>{{ category.updatedAt|format_date('long') }}</td>
                    <td>
                        <a href="{{ url('category_show', {id: category.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ category.title }} </a>
                    </td>
                    {% if is_granted('EDIT', category) %}
                    <td>
                        <a href="{{ url('category_edit', {id: category.id}) }}" title="{{ 'action_edit'|trans }}">
                            {{ 'action_edit'|trans }}
                        </a>
                    </td>
                    {% endif %}
                    {% if is_granted('DELETE', category) %}
                    <td>
                        {% if not category.articles|length %}
                            <a href="{{ url('category_delete', {id: category.id}) }}" title="{{ 'action_delete'|trans }}">
                                {{ 'action_delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>

                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <p>
            <a href="{{ url('category_create') }}" title="{{ 'action_create'|trans }}">

                {{ 'action_create'|trans }}
            </a>
        </p>
        {% endif %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}