{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_article_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_article_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}



        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'article.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_created_at'|trans, 'article.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_updated_at'|trans, 'article.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'article.title') }}</th>
                <th>{{ 'label_category'|trans }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for article in pagination.items %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.createdAt|format_date('long') }}</td>
                    <td>{{ article.updatedAt|format_date('long') }}</td>
                    <td>
                        <a href="{{ url('article_show', {id: article.id}) }}" title="{{ 'action_view'|trans }}">
                        {{ article.title }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('category_show', {id: article.category.id}) }}" title="{{ 'action_view'|trans }}">
                            {{  article.category.title }}
                        </a>
                    </td>
                    {% if is_granted('EDIT', article) %}
                    <td>

                        <a href="{{ url('article_edit', {id: article.id}) }}" title="{{ 'action_edit'|trans }}">
                            {{ 'action_edit'|trans }}
                        </a>

                    </td>
                    {% endif %}
                    {% if is_granted('DELETE', article) %}
                    <td>

                        <a href="{{ url('article_delete', {id: article.id}) }}" title="{{ 'action_delete'|trans }}">
                            {{ 'action_delete'|trans }}
                        </a>

                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <p>
            <a href="{{ url('article_create') }}" title="{{ 'action_create'|trans }}">
                {{ 'action_create'|trans }}
            </a>
        </p>
        {% endif %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}